
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div align="center" style="margin-top:100px;border:1px solid blue;
background-color:grey;">
<h2 style="color:blue">Login Portal</h2>
<form action="{% url 'polls:vote' %}" method="post">
		{% csrf_token %}
		<table>
            <tr>
                <td>Username :</td>
                <td><input id="username" maxlength="200" name="username" type="text" /></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input id="id_password" maxlength="200" name="password" type="password" /></td>
            </tr>
       </table>

		<input type="submit" value="LOGIN">
		</form> 
</div>
